name: CI Pipeline

on:
  push:
    branches:
      - master
      - develop
  pull_request:

jobs:
  build-test-analyze:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: user_service_user
          POSTGRES_PASSWORD: password
          POSTGRES_DB: UserService
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U user_service_user -d UserService"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

      redis:
        image: redis:7
        ports:
          - 6379:6379
        options: >-
          --health-cmd="redis-cli ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=10

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4


      - name: Install DB & Redis clients
        run: |
          sudo apt-get update
          sudo apt-get install -y postgresql-client redis-tools

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Wait for PostgreSQL to be ready
        run: |
          echo "Waiting for PostgreSQL..."
          until pg_isready -h localhost -U user_service_user -d UserService; do
            sleep 5
          done

      - name: Wait for Redis to be ready
        run: |
          echo "Waiting for Redis..."
          until redis-cli -h localhost ping | grep PONG; do
            sleep 5
          done

      - name: Build with Maven (skip tests)
        run: mvn -B clean verify -DskipTests


      - name: SonarQube Scan
        uses: sonarsource/sonarcloud-github-action@master
        with:
          projectBaseDir: ./
          args: >
            -Dsonar.projectKey=andreyshl   
            -Dsonar.organization=AndreiShlapkov      
            -Dsonar.host.url=https://sonarcloud.io
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: andrei_shlapkov/userservice:latest